---
import '../assets/global.css';
import TimeLogForm from '../components/atoms/TimeLogForm.tsx';
import Particles from '../components/atoms/Particles.tsx';
import Layout from "../layouts/Layout.astro";
---
<html>
<Layout>
<!-- TimeLogForm positioned independently, centered on screen -->
<div class="fixed inset-0 flex items-center justify-center z-10">
  <TimeLogForm client:load />
</div>
</Layout>
</html>