---
import Particles from "../components/atoms/Particles";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Time Tracker</title>
	</head>
	<body class="bg-gradient-to-br from-black to-purple-400 min-h-screen">
	<!-- Particles cover the entire viewport -->
	<Particles
		client:load
		class="fixed top-0 left-0 w-screen h-screen z-[-1] pointer-events-none"
		particleColors={['#bd69bd', '#ff00ff', '#a607d1']}
		particleCount={400}
		particleSpread={10}
		speed={0.1}
		particleBaseSize={100}
		moveParticlesOnHover={false}
		alphaParticles={false}
		disableRotation={false}
	/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
